body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header{
    padding: 20px 0;
}

    header .btn {
        padding: 5px 15px;
    }

.parked-vehicles-options {
    padding: 20px 0;
}

    .parked-vehicles-options input {
        padding: 4px;
        display:inline-block;
        margin-right: 5px;
    }

    .parked-vehicles-options .btn-group input{
        float: left;
    }

.advanced-search{
    margin-top: 10px;
}

    .advanced-search div{
        padding: 10px 0;
    }

    .advanced-search div input {
        margin-top: 5px;
    }


.btn {
    border-radius: 0;
}

    .btn a{
        display:block;
        width: auto;
        color: white;
    }

    .btn a:hover {
        color: #ddd;
        text-decoration: none;
    }
.my-label {
    font-size: 20px;
    color: #333;
    display: block;
    margin: 0;
    
}
.alert{
    border: 1px solid;
}

.even {
    background-color: #ddd;
}

.left{
    float: right;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    vertical-align: inherit;
}

.clickable{
    cursor: pointer;
}