@{
    ViewBag.Title = "Garage Parking AB";
}

<div class="jumbotron">
    <h1>Garage Parking AB</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis augue non vulputate posuere. Aenean lobortis aliquet quam, quis volutpat justo mollis sed. Nullam sodales lorem at vehicula mollis. Nulla nec eros dolor. Donec quis massa a quam efficitur fermentum vitae at nulla. Integer tristique diam id quam venenatis imperdiet. Donec sed massa ut nulla viverra ornare.</p>

    <div class="row">
        <div class="col-md-6">
            <h2>Park your vehicle</h2>
            <img class="img-responsive img-rounded image-startpage" src="~/Content/01_liverpool-one-car-park_int3.jpg" />
            <p>
                Open hours: 08:00 - 23:00 <br /> Cost: 60 SEK per second.
            </p>
            <p><a class="btn btn-default" href="@Url.Action( "Create", "ParkedVehicles")">Check In &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Pick up your vehicle</h2>
            <img class="image-startpage img-responsive img-rounded" src="~//Content/mercedes-benz-sls-amg-black-series-yellow-mercedes-benz-yellow-road-supercar.jpg" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis augue non vulputate posuere.</p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "ParkedVehicles")">Check Out &raquo;</a></p>
        </div>
    </div>
</div>