@model Garage1.ViewModel.Garage.ParkViewModel

<div class="alert alert-@Model.CssClass alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p>@Model.Message</p>
</div>
