@model Garage1.ViewModel.IndexViewModel

@{
    ViewBag.Title = "Index";
}



<header>
    <h2>Parked Vehicles</h2>
    
    <div class="parked-vehicles-options">
        <div class="btn-group">
            <p class="my-label">Search</p>
            <input type="text" onkeyup="search(this.value)"/>
           
        </div>
        <div class="advanced-search">
            <a href="#" id="advanced-search-toggle" onclick="toggleAdvancedSearch()">Advanced Search</a>
            <div class="hidden" id="advanced-search-cont">
                <input onkeyup="AdvacedSearch()" class="advanced-search-input" type="text" name="vType" placeholder="Vehicle Type" />
                <input onkeyup="AdvacedSearch()" class="advanced-search-input" type="text" name="manuf" placeholder="Manufacturer"/>
                <input onkeyup="AdvacedSearch()" class="advanced-search-input" type="text" name="model" placeholder="Model" />
                <input onkeyup="AdvacedSearch()" class="advanced-search-input"  type="text" name="color" placeholder="Color" />
                @*<input onkeyup="AdvacedSearch()" class="advanced-search-input" type="text" name="time" placeholder="Check In Time" />*@
            </div>
        </div>
        

    </div>
    @Html.ActionLink("Check In", "Create", null, new { @class = "btn btn-primary" })
</header>
    


@if (Model.Feedback)
{
    string divClass;
    if (Model.Success) {
        divClass = "success";
    } else {
        divClass = "danger";
    }
    <div class="alert alert-@divClass alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>@Model.Message</p>
    </div>
}

<table id="autocomplete" class="table table-striped">

@{
    Html.RenderPartial("IndexListPartial", new Garage1.ViewModel.IndexListPartialViewModel() { Vehicles = Model.Vehicles, CssClassDesc = ""});
}
</table>
